In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from generator import ColumnType, genArray

In [2]:
n = 500
required_columns = 21
column_names: list[str] = [col.value for col in ColumnType]
column_types: list[ColumnType] = [col for col in ColumnType]

# Function to wrap around index
def wrap_around_index(index, length):
    return index % length

# The column_names and column types must have the same length
data = {
    column_names[wrap_around_index(i, len(column_names))]+f"_{i}" : np.array(genArray(column_types[wrap_around_index(i, len(column_names))], n)) for i in range(0, required_columns)
}
df = pd.DataFrame(data)
# Custom Logic for Countries outside the US
df.head()

,org_name_0,first_name_1,last_name_2,email_3,street_address_4,city_5,state_6,zip_7,country_8,phone_9,...,first_name_11,last_name_12,email_13,street_address_14,city_15,state_16,zip_17,country_18,phone_19,org_name_20
0,David Company,Christian,Cook,josephburton@example.com,9693 Amber Station,Port Albert,MP,58320,US,001-807-539-3095,...,Rachel,Joyce,mike20@example.org,5357 Sheila Extensions Suite 762,Turnermouth,AE,91830,US,786.837.1045,Tony Company
1,Robert Company,Sandra,Parker,roberthoover@example.org,9692 Grant Knolls,North Robert,NV,72277,US,3226067465,...,Jamie,Pierce,ryanbenjamin@example.org,4461 Natalie Stream Suite 622,Tonybury,AK,34373,US,001-803-344-9117x9200,Christian Company
2,Laura Company,Kendra,Smith,patrick33@example.net,4735 David Estates Suite 591,North Raymondmouth,PW,87023,US,459-604-1784,...,Rebecca,Ryan,basslaurie@example.org,226 Crystal Ville Suite 779,Jefftown,PA,23846,US,(274)663-6373,William Company
3,Lindsey Company,Daniel,Miller,rnielsen@example.net,9188 Davis Drives,Mclaughlinville,WY,17697,US,477.326.4008,...,Jason,Jr.,trice@example.net,8633 Smith Shores Apt. 736,West Carrieborough,PA,09622,US,(451)793-6190x375,Debbie Company
4,David Company,John,Buck,dpatterson@example.net,49943 Desiree Branch,Taylorfurt,AE,53353,US,928-757-7413,...,Sandra,Brooks,johnryan@example.net,6003 Newton Valley Suite 198,Lake Marissa,OH,18123,US,(674)357-5751x231,Elizabeth Company

In [39]:
now = datetime.utcnow().strftime("%m-%d-%y_%H:%M:%S")
df.to_csv('output/' + 'fake_data_' + now + '.csv')