In [6]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
from generator import ColumnType, genArray

In [7]:
n = 500
required_columns = 21
column_names: list[str] = [col.value for col in ColumnType]
column_types: list[ColumnType] = [col for col in ColumnType]


def wrap_around_index(index, length):
    return index % length


data = {
    column_names[wrap_around_index(i, len(column_names))]+f"_{i}" : np.array(genArray(column_types[wrap_around_index(i, len(column_names))], n)) for i in range(0, required_columns)
}
df = pd.DataFrame(data)
# Custom Logic for Countries outside the US
df.head()

,org_name_0,first_name_1,last_name_2,email_3,street_address_4,city_5,state_6,zip_7,country_8,phone_9,...,first_name_11,last_name_12,email_13,street_address_14,city_15,state_16,zip_17,country_18,phone_19,org_name_20
0,Jason Company,Amanda,Johnson,charlesdunn@example.org,064 Walker Vista Apt. 301,Jeffreymouth,CO,47108,US,001-286-501-8870x16782,...,Denise,Johnson,melinda05@example.net,08586 Porter Port Apt. 471,West Erinport,WI,28809,US,001-304-332-5209x51033,Kari Company
1,Christopher Company,Susan,Brennan,russojavier@example.net,13010 April Prairie Suite 064,North Tonyaberg,MH,99748,US,596.288.4671x04860,...,Ashley,Hodges,csmith@example.net,44281 Edgar Coves Apt. 571,West Carlos,NH,49201,US,799-826-0196,Kristy Company
2,Kimberly Company,Clinton,Walker,latoya45@example.org,22412 Derrick Gateway,Thomasshire,AA,05515,US,001-492-700-9310x4989,...,Matthew,Moses,veronicafritz@example.org,26355 Lozano Field Apt. 500,Gibsonhaven,MS,27378,US,304-574-0538,Erik Company
3,Jamie Company,Katherine,Benjamin,pcooper@example.net,1965 Devin Valley Suite 822,Kerrfurt,AL,86582,US,517.490.2845,...,Laura,Hill,hendrixmichael@example.com,86900 Porter Loaf,New Taylor,MN,89943,US,001-895-754-5280x08332,Denise Company
4,Suzanne Company,Jesse,Silva,fitzgeraldjennifer@example.org,5229 Hendricks Grove Suite 034,North Karen,NV,59271,US,+1-526-734-9903x229,...,Daniel,Alexander,mtorres@example.net,93088 Adams Lock Apt. 120,Lake Ellenberg,KS,05646,US,340-505-4691x46917,Charles Company

In [9]:
# Check if the directory already exists
directory_name = 'output'
if not os.path.exists(directory_name):
    # If not, create the directory
    os.makedirs(directory_name)
    print(f"Directory '{directory_name}' created.")
else:
    print(f"Directory '{directory_name}' already exists.")
    
now = datetime.utcnow().strftime("%m-%d-%y_%H-%M-%S")
df.to_csv('output/' + 'fake_data_' + now + '.csv')

Directory 'output' created.